.header{
    width: 1540px;
    height: 596px;
    background-color: #87509c;
    padding-top: 25px;
    margin: 0 auto;
}
img {
    width: 506px;
    height: 36px;
    border-radius: 4px;
    margin: 50px;
    align-items: center;
    margin-left: 20px;
}
header a{
    color:white;
    }
.menu{
    display:flex;
    list-style-type:none; 
}
.menu li a{
    text-decoration:none ;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 20px;
    border-radius: 4px;
    
   
}
.menu li{
    margin-right: 18px;
    font-family: "Titillium Web";
   
}
.nav{
    display:flex;
    align-items: center;
   
}
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
.logo{
    margin-right: 300px;
    
}
.f{
    padding: 5px 10px;
    background-color: #643a79;
    
}
.write{
    font-size: 42px;
    line-height: 49px;
    color: #f7f3ea;
    font-weight: 700;
    font-family: "Titillium Web";
    text-align: center;
    padding-top:50px;
}

.cont {
    text-align: center;
    margin: 0 auto;

}
.button{
    padding:15px 30px;
    color: white;
    background-color: #eb7d4b;
    font-size: 18px;
    font-family: "Titillium Web";
    text-transform: uppercase;
    width: 293px;
    height: 70px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: inset 0px -3px #ec936a;
   
}
h2{
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #393939;
    font-weight: 700;
    font-family: "Titillium Web";
    text-align: center;
    padding-top: 75px;
    text-transform:uppercase;
}
hr{
    width: 87px;
    height: 4px;
    background-color: #e5c37f;
    border: 1px solid transparent;
    
}
.writ{
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #393939;
    font-weight: 400;
    font-family: "Titillium Web";
}
.categories{
    display:flex;
    list-style-type:none; 
    margin-left: 580px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.all{
    background-color:#e5c37f;
    text-decoration:none ;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-right: 7px;
    color: #393939;
    font-weight: 400;
    font-family: "Titillium Web";
    margin-left: 10px;
    border-radius: 4px;
    padding:3px 20px; 
    
    
    
}
.sv {
    background-color:white;
    text-decoration:none ;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-right: 7px;
    color: #393939;
    font-weight: 400;
    font-family: "Titillium Web";
    margin-left: 10px;
    border-radius: 4px;
    padding:3px 20px;
}
body {
    width: 1540px;
    height: 596px;
    margin: 0 auto;
}

.portfolio__content {
    background-color:#ffdd99;
    margin-top: -35px;
}
.gallery img{
        width:531px;
        height:300px;
        margin-left: -35px;
        margin-right: -30px;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 50% 50%;
    
}
.gallery p{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #393939;
    font-weight: 400;
    font-family: "Titillium Web";
    margin-top: -20px;
    text-align: center;
    text-transform: uppercase;

}
.g{
    text-align: center;
    margin: 0 auto;
}
.buttone{
    padding:15px 30px;
    color: white;
    background-color: #17c2a4;
    font-size: 18px;
    font-family: "Titillium Web";
    text-transform: uppercase;
    width: 293px;
    height: 70px;
    line-height: 26px;
   margin-bottom: 100px;
    border-radius: 4px;
    margin-top: 50px;
    border:  1px solid transparent;
    box-shadow: inset 0px -3px #20d0b0;
}
.get{
    width: 1540px;
    height: 819px;
    background-color: #3c5499;
    margin-top: -40px;
}
.title__main {
    color: white;
}

.form__hr{
    margin-bottom: 20px;
    width: 87px;
    height: 4px;
    background-color: #273a71;
    border: 1px solid transparent;
}

.form {
    width: 860px;
    height: 500px;
    margin: 0 auto;
}
.input {
    border-radius: 4px;
    background-color: #273a71;
    padding:18px 25px;
    box-sizing: border-box;
    
}
#name {
    width: 414px;
    margin-right: 32px;
    border: 1px solid transparent ;
}
#email {
    width: 414px;
    border: 1px solid transparent ;
}
#message {
    width: 860px;
    margin-top: 30px;
    border-radius: 4px;
    border: 1px solid transparent ;
    height: 200px;
    resize: none;
}
.form__params{
    display:flex;
 
}
.title__sub{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 100;
    font-family: "Titillium Web";
    text-align: center;
    margin-bottom: 70px;
}
.input::placeholder{
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 16px;
    line-height: 18px;
}

.form__button{
    
    margin-top: 60px;
    text-align: center;

}
.bts{
    
    padding:15px 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #30bae7;
    width: 293px;
    height: 70px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    font-family: "Titillium Web";
    text-transform: uppercase;
    letter-spacing: 0px;
    box-shadow: inset 0px -3px #30d2e1;
}
.footer{
    width: 1540px;
    height: 112px;
    background-color: #344b8e;
}
.fot_menu{
    display: flex;
    padding: 36px 215px;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Titillium Web";
    text-align: center;
    justify-content: space-between;
}

footer a {
    color: white;
    text-decoration: none;
    transition: all 0.3 s;
}
.footer_li{
    color:rgb(48, 186, 231);
    text-decoration: none;
}